# Ignore all differences in line endings
*        -crlf

*.ini text
*.simple text
*.counts text
*.labels text
*.feats text
*.ctf text
*.post text
*.cpu text
*.gpu text
*.rst text

.gitattributes text
.gitignore text
.gitmodules text

.clang-format text

*.md text
*.txt text
*.TXT text
*.html text
*.lyx text
*.bib text
*.json text
.gitkeep text
Readme text

*.bat text
*.cmd text
*.py text
*.ipynb text
*.pl text
*.ps1 text
*.psm1 text
*.ps text
*.i text

*.sh text eol=lf
*.awk text eol=lf

Makefile text
*.sln text
*.pyproj text
*.vcxproj text
*.vcxproj.filters text
*.vssettings text
*.csproj text
*.props text
*.asax text

*.h text
*.cpp text
*.cc text
*.cu text
*.cuh text
*.proto text

*.cs text

*.yml text
*.yml.bak text

*.config text
*.cntk text
*.bs text
*.ndl text
*.mel text
*.xml text
*.m text
*.mlf text
*.scp text
*.list text

*.log text

# Binary extensions:
*.ark binary
*.chunk binary
*.cmf binary
*.docx binary
*.jpg binary
*.pdf binary
*.png binary
*.pptx binary
*.snk binary
*.vsdm binary
*.zip binary
*.dnn binary
